<mat-sidenav-container class="mainWrapper blue_theme light-theme" autosize autoFocus dir="ltr">
  <mat-sidenav #sidenav mode="side" [opened]="opened" class="sidenav"> </mat-sidenav>

  <mat-sidenav-content class="contentWrapper" #content>
    <mat-toolbar class="topbar">
      <div class="body-wrapper">
        <main class="pageWrapper maxWidth">
          <p>Test</p>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
